body {
  margin: 0;
  text-align: center;
  min-height: 100%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./background.jpg");
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  min-height: 100vh;
}

.bg-black {
  background-color: black;
}
.wt-font {
  color: white;
}


a:link {
color: silver;
}

/* visited link */
a:visited {
color: silver;
}

/* mouse over link */
a:hover {
color: white;
}

/* selected link */
a:active {
color: orange;
}

.top-links
{
  display: inline-block;
  float: right;
}

.mainBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.content-block p {
  padding: 20px;
}

footer {
  width: 100%;
  background-color: Black;
}

.social-entry {

  display: inline-block;

  color: white;
  font-size: 20pt;
  font-family: 'Quicksand', sans-serif;

}

.social-entry a:link {
text-decoration: none;
color: white;
}

/* visited link */
.social-entry a:visited {
text-decoration: none;
color: white;
}

/* mouse over link */
.social-entry a:hover {
color: lightgray;
}

/* selected link */
.social-entry a:active {
color: orange;
}
